#ui-header {
    background-color: black;
    height: 8em;
    color: white;
    text-align: start;
    font-size: 22px;
    width: 100%;
}

#ui-header b{
    font-family: "Lobster";
    font-size: 50px;
    margin-top:1em;
    margin-left: 1em;   
}

#ui-header p{
    font-size: 12px;
    margin-left: 4.3em;
    font-family: Arial;  
}
img {
    text-align: start;
    width: 300px;
    border-radius: 10px 10px 10px 10px;
}
#titulo {
    padding: 1em;
    text-align: center;
    font-size:2em;
}
